body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #FFF;    
}

/*========HEADER========== */

a{
    text-decoration:none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    
}

button{
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


.your-order {
    display: inline-flex;
    padding: 80px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.container {
    background-color: #7a3145;
    padding: 80px 20px; 
}
.conteiner-one {
    
}
.conteiner-two {
    border-radius: 30px;
    background: #FBFBFB;
    padding: 40px 20px;

}
.modal-title {
}
.modal-form {
}
.modal-field {
}
.modal-label {
}
.modal-input-wrap {
}
.modal-input {
}
.form-field {
}
.modal-field-container {
}
.modal-textarea {
}
.form-btn {
}
.modal-btn {
}
.conteiner-three {
    border-radius: 30px;
    background: rgba(87, 111, 53, 1);
    padding: 40px 20px;
}

.form-btn:hover,
.form-btn:focus{
    background-color:rgba(64, 75, 191, 1);
    border: none;
}

/* .contacts-link {
    color:  #434455;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
    color: #404bbf
} */


/* 
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    background-color: #404BBF;
} */



/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .contacts-list-link{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mobile-open-btn {
        display: none;
    }
    
    .mob-list-link{
        display: none;
    }

    .logo-nav {
        margin-right: 120px;
    }

    .nav-list{
        display: flex;
    }
    .address {
        display: block;
    }



    .hero-container{
        display: block;
        align-items: center;
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }


    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}


/* Desktop */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo-nav{
        margin-right: 76px; 
    } 
    .nav-link{
        font-size: 16px;
        line-height: 1.5;
    } 

    .mobile-open-btn {
        display: none;
    }

    .mob-list-link{
        display: none;
    }
    
    .contacts-list-link{
        flex-direction: row;
        gap: 40px; 
    }

    .contacts-link {
        font-size: 16px;
    }
    
}

--------
